*{
    box-sizing:border-box
}
.awesome{
    width: 100%
    
}
.page{
    width: 1170px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.title{
    /* display: flex;
    justify-content: center; */
    width: 1170px;
    height: 150px;
    font-family:'Raleway', sans-serif;
    text-align: center;
    font-size: 36px;
    color: #000;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 57px;
}
.line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.subtitle{
    width: 1170px;
    height: 21px;
    font-family:'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #86878B;
    margin: 0 auto;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    margin-bottom: 71px;
}
.nav{
    width: 100%;
    display: inline-block;
}

.nav-box-left{
width: 370px;
display: inline-block;
margin-right: 26px;
margin-left: 0px;
}
.nav-box-left__img{
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto;
}
.nav-box-left__link{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 26px;
    text-decoration: none;
    width: 369px;
    height: 100px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}
.nav-box-left__text{
    font-family:'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #000;
    width: 370px;
    height: 105px;
}
.nav-box-center{
    width: 370px;
    display: inline-block;
    margin-right: 26px;
}
.nav-box-center__img{
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto;
}
.nav-box-center__link{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 26px;
    text-decoration: none;
    width: 369px;
    height: 100px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}
.nav-box-center__text{
    font-family:'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #000;
    width: 370px;
    height: 105px;
    margin-left: 0px;
}
.nav-box-right{
    width: 370px;
    display: inline-block;
}
.nav-box-right__img{
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto;
}
.nav-box-right__link{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 26px;
    text-decoration: none;
    width: 369px;
    height: 100px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}
.nav-box-right__text{
    font-family:'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #000;
    width: 370px;
    height: 105px;
}

